@font-face {
	font-family: 'Angelina';
	src: url("Angelina.eot");/* EOT file for IE */
}
@font-face {
	font-family: 'Angelina';
	src: url("Angelina.TTF"); /* TTF file for CSS3 browsers */
}
html {
	height: 100%;
}
body {
    font-family: Angelina, Tahoma;
    letter-spacing: .16em;
	color: #7a7a7a;
    background: #fbf9f9;
    display: flex;
    width: 986px;
    min-width: 986px;
    margin: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 2em;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #7a7a7a;
}
ul {
	list-style: none;
}
.left-side {
	float: left;
	padding: 2em 2em 2em 4em;
	box-sizing: border-box;
	font-size: 14px;
	width: 265px;
	border-right: 2px solid #eee;
	background: #fff;
}
.left-side .divide {
	display: none;
}
.main {
	flex: 13;
    padding: 1em 2em;
    overflow: hidden;
}
.logo {
	display: block;
	background: url('/img/logo.png') left no-repeat;
	background-size: contain;
	height: 60px;
	margin-bottom: 2em;
}
nav {
	display: inline-block;
	border-bottom: 3px solid #eee;
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.me {
	margin: 10px auto;
}
.portrait {
	display: block;
	width: 100%;
	border-radius: 100%;
}
.intro {
	margin: 2em 0;
	font-size: 1.3em;
	line-height: 1.3em;
}
.cate {
	padding: 0;
}
.cate li {
	position: relative;
	display: block;
	margin: 1.5em 0;
}
.cate li.last:after {
	border: none !important;
}
.cate li a {
	display: block;
	padding: 5px;
	width: 0;
	border: 2px solid rgba(93, 85, 85, 0.42);
	border-radius: 100%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.cate li:after {
	border-right: 2px solid #eee;
	content: '';
	height: 24px;
	position: absolute;
	left: 7px;
}
.cate li span {
	display: block;
	left: 50px;
	top: 0;
	position: absolute;
	text-transform: uppercase;
	font-size: 0.625em;
	min-width: 5.5em;
}
.cate li.active a, .cate li:hover a {
	border-color: #ed8d6c;
	background: #ed8d6c;
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
.cate b, .cate li.active span, .cate li:hover span {
	color: #ed8d6c;
}
footer {
	font-family: Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 1em 0;
	font-size: .6em;
	letter-spacing: .1em;
}
.article-list li {
	height: 6em;
	padding: 1em;
	border-bottom: 1px dashed #cdcdcd;
	overflow: hidden;
	box-sizing: border-box;
}
.article-list h3 {
	display: inline-block;
	margin-left: 2em;
}
.article-list .excerpt {
	font-size: .8em;
	color: #999;
	overflow: hidden;
	width: 100%;
	line-height: 4em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.swiper-container {
	width: 100%;
	height: 368px;
	margin-bottom: 2em;
}
.swiper-wrapper {
	padding: 0;
	display: block !important;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	text-align: center;
}
.reach-me {
	color: #ed8d6c;
}