html {
	height: 100%;
	max-width: 520px;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
}
body {
	font-family: Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif;
    letter-spacing: .16em;
	color: #7a7a7a;
    background: #fbf9f9;
    width: 100%;
    min-height: 100%;
    letter-spacing: .16em;
    line-height: 1.3em;
}
.page {
    padding: 1em;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #ed8d6c;
}
.bar {
	background: #eee;
}
h1.bar {
	text-align: center;
	padding: .5em;
}
.info {
	display: flex;
	flex-direction: column;
}
.cell {
	padding: .5em 0;
}
.cell-bd {
	display: none;
}
.portrait {
	width: 120px;
	position: absolute;
    top: 0;
    border-radius: 100%;
    top: 7em;
    right: 1em;
}
.bar .title {
	display: inline-block;
	background: #ed8d6c;
	color: #fff;
	padding: .6em;
}
.work-experience,.skill,.certificate {
	padding: 1em 0;
}
.work-experience dl {
	margin-bottom: 1em;
	border-bottom: 1px dashed #cdcdcd;
}
.project {
	padding: 1em 0;
}
.project ul {
	list-style: circle;
	margin: 1em 1em 1em 2.5em;
}
dt {
	display: flex;
	flex-direction: column;
}
dt span {
	margin-bottom: 1em;
}
.tencent {
	background: url(/img/tencent-logo.png) left no-repeat;
}
.baidu {
	background: url(/img/baidu-logo.png) left no-repeat;
}
.weibo {
	background: url(/img/weibo-logo.png) left no-repeat;
}
.company {
	background-size: contain;
	height: 40px;
}
.pname {
	font-weight: bold;
	margin-bottom: 1em;
}
.skill{
	display: flex;
	flex-direction: column;
}
.certificate ul {
	list-style-type:circle;
	margin-left: 1em;
}
.skill div {
	flex: 1;
}