.article-list, article {
	font-family: Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif;
}

article {
	padding: 1.8em;
	background: #fff;
	box-sizing: border-box;
	border: 2px solid #eee;
}
article ul {
	list-style: outside;
	padding: 0 2em;
}
article p {
	margin: 1em 0;
	text-indent: 1.5em;
}
article .content {
	line-height: 1.8em;
	font-size: .95em;
}

time {
    font-family: Angelina, Tahoma;
}

.seperator {
	width: 100%;
	border-bottom: 2px solid #eee;
	margin: 1em 0;
}

h1 {
	font-size: 1.6em;
}

.date-label {
	position: relative;
    width: 178px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #f59d7f;
    margin-right: 100px;
    font-family: Angelina, Tahoma;
    font-weight: bold;
    color: #fff;
    margin-left: -40px;
    margin-top: -18px;
}
.date-label::before {
    position: absolute;
    content: "";
    border: 24px solid #f59d7f;
    border-right-color: transparent;
    top: 0;
    left: 100%;
}
.date-label::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-right: .8em solid #ed8d6c;
    border-bottom: 0.4em solid transparent;
}

.tag {
	background: #fbc4a2;
    color: #fff;
    padding: .2em;
    font-size: .8em;
    text-align: center;
    border-radius: 3px;
    margin-right: 0.2em;
}

#map {
	margin-top: 2em;
	width: 100%;
	height: 480px;
	-webkit-border-top-right-headradius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.24) inset;
	-moz-box-shadow: 1px 1pxx 8px 3px rgba(0, 0, 0, 0.24) inset;
	box-shadow: 1px 1px 8px 3px rgba(style0, 0, 0, 0.24) inset;
}
#map svg {
	-webkit-animation: map-in 1s linear 0 1;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
#map, #map circle {
	-webkit-transition: all .50s linear;
	-moz-transition: all .50s linear;
	transition: all .50s linear;
}