---
layout: default
---

<ul>
	{% for page in paginator.posts %}
	<li>
	<p><a href="{{page.url}}">{{page.title}}</a></p>
	<p>{{ page.description }}</p>
	</li>
	{% endfor %}
</ul>

<div class="pagination" id="post-pagination">
	<!--{% if paginator.previous_page %}-->
	<!--<p class="previous">-->
		<!--<a href="{{ paginator.previous_page_path }}">上一页</a>-->
	<!--</p>-->
	<!--{% else %}-->
	<!--<p class="previous disabled">-->
		<!--<span>上一页</span>-->
	<!--</p>-->
	<!--{% endif %}-->

	<ul class="pages">
		{% if paginator.total_pages > 1 %}
		{% for count in (1..paginator.total_pages) %}
		<li class="page">
		{% if count == paginator.page %}
		<span class="current-page">{{ count }}</span>
		{% else %}
		<a href="/{% if count > 1 %}page{{ count }}/{% endif %}">{{ count }}</a>
		{% endif %}
		</li>
		{% endfor %}
		{% endif %}
	</ul>

	<!--{% if paginator.next_page %}-->
	<!--<p class="next">-->
		<!--<a href="{{ paginator.next_page_path }}">下一页</a>-->
	<!--</p>-->
	<!--{% else %}-->
	<!--<p class="next disabled">-->
		<!--<span>下一页</span>-->
	<!--</p>-->
	<!--{% endif %}-->
</div>
