---
layout: default
title: lynne lv
kw: 前端开发,前端博客,前端技术,旅行,摄影,lynnelv
desc: 这里是lynnelv的个人主页,记录包括但不限于前端技术,旅行手记,摄影等个人生活的碎碎沫,欢迎访问!
link: http://lynnelv.github.io/
---
<link rel="stylesheet" href="/css/swiper.min.css">

<div class="swiper-container">
	<ul class="swiper-wrapper">
	{% for image in site.static_files %}
	    {% if image.path contains 'img/slider' %}
	        <li class="swiper-slide" style="background-image: url({{ image.path }})"></li>
	    {% endif %}
	{% endfor %}
	</ul>
	<div class="swiper-pagination"></div>
</div>

{% assign post = site.posts.first %}
{% assign content = post.content %}
{% include article.html %}

<script type="text/javascript" src="/js/swiper.min.js"></script>
<script type="text/javascript">
new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    centeredSlides: true,
    autoplay: 3600,
    autoplayDisableOnInteraction: false
});
</script>