<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="keywords" content="吕彦蓉, lynnelv, Blog, 博客, 吕彦蓉的博客" />
		<meta name="Author" content="lynnelv" />
		<link rel="shortcut icon" href="/img/icon.jpg" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" charset="utf-8" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>{{ page.title }} &raquo; Lynnelv's Blog</title>
		<style type="text/css">
			li {
				list-style-type: none;
			}
		</style>
	</head>

	<body class="home">
		<div class="container main">
			<div class="row">
				<div class="span2 side">
					<a href="/"><img src="/img/logo_lynnelv.png" alt="Lynnelv's Blog"></a>
					<ul>
						{% for category in site.categories %}
						<li><a href="/categories/{{ category | first }}/">{{ category | first }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="span9 offset1 content">
					<h2>{{ page.title }}</h2>
					<article>{{ content }}</article>
				</div>
			</div>
		</div>

		<div class="footer">
			<p>
			Copyright © 2013 lynnelv. <a href="http://weibo.com/lvyanrong">@飞鱼_笨懒懒</a>
			</p>
		</div>

		<script type="text/javascript" charset="utf-8" src="/js/jquery-1.10.2.min.js"></script>
	</body>
</html>
